<div style=" margin-bottom: 50px; " >
<p class="font_title_page"> Qual o seu Problema? Sim, Nós resolvemos! <p>
<table style="margin-top: 50px;" width="100%" >
	<tr height="150">
		<td width="150" >
			<div style="background-image:url('<?php echo URL_IMG_WEBSITE ?>/service-logo-dev.png');background-repeat:no-repeat; height:150px;">						
			</div>						
		</td>
		<td style="text-align: left; padding-left: 30px;" >
			<h4>Desenvolvimento</h4>
			<p>
			Desenvolvemos produtos conforme sua necessidade com agilidade e flexibilidade.
			</p>			
			<div style="margin-top:20px;">				
				<input value="Saiba Mais" type="button" style="margin-right:10px; padding: 2px !important; width:140px; height:28px; background-color: transparent; border: 0; background-image:url('<?php echo URL_IMG_WEBSITE ?>/buttom-l-small.png');background-repeat:no-repeat; box-shadow: 0 0 0; font-size: 16px; text-shadow: none;"> 				
			</div>	
		</td>
	</tr>
</table>
<table style="margin-top: 25px;" width="100%" >
	<tr height="150">
		<td width="150"  >
			<div style="background-image:url('<?php echo URL_IMG_WEBSITE ?>/service-logo-sec.png');background-repeat:no-repeat; height:150px;">					
			</div>						
		</td>
		
		<td style="text-align: left; padding-left: 30px; " >
			<h4>Segurança Web</h4>
			<p>
			Conhecemos os problemas relacionados a segurança, mas também como resolve-los.
			</p>			
			<div style="margin-top:20px;">				
				<input value="Saiba Mais" type="button" style="margin-right:10px; padding: 2px !important; width:140px; height:28px; background-color: transparent; border: 0; background-image:url('<?php echo URL_IMG_WEBSITE ?>/buttom-l-small.png');background-repeat:no-repeat; box-shadow: 0 0 0; font-size: 16px; text-shadow: none;"> 
			</div>	
		</td>
	</tr>
</table>
<table style="margin-top: 25px;" width="100%" >
	<tr height="150">
		<td width="150" >
			<div style="background-image:url('<?php echo URL_IMG_WEBSITE ?>/service-logo-arq.png');background-repeat:no-repeat; height:150px;">		
			</div>						
		</td>
		
		<td style="text-align: left;  padding-left: 30px;" >
			<h4>Arquitetura</h4>
			<p>
			Projetamos o seu sistema com a arquitetura que você precisa.
			</p>						
			<div style="margin-top:20px;">				
				<input value="Saiba Mais" type="button" style="margin-right:10px; padding: 2px !important; width:140px; height:28px; background-color: transparent; border: 0; background-image:url('<?php echo URL_IMG_WEBSITE ?>/buttom-l-small.png');background-repeat:no-repeat; box-shadow: 0 0 0; font-size: 16px; text-shadow: none;"> 			
			</div>	
		</td>
	</tr>
</table>
<table style="margin-top: 25px;" width="100%" >
	<tr height="150">
		<td width="150"  >
			<div style="background-image:url('<?php echo URL_IMG_WEBSITE ?>/service-logo-mid.png');background-repeat:no-repeat; height:150px;">					
			</div>						
		</td>
		
		<td style="text-align: left; padding-left: 30px; " >
			<h4>Middleware</h4>
			<p>
			Se você precisa integrar seu sistema, também temos a solução.
			</p>			
			<div style="margin-top:20px;">				
				<input value="Saiba Mais" type="button" style="margin-right:10px; padding: 2px !important; width:140px; height:28px; background-color: transparent; border: 0; background-image:url('<?php echo URL_IMG_WEBSITE ?>/buttom-l-small.png');background-repeat:no-repeat; box-shadow: 0 0 0; font-size: 16px; text-shadow: none;"> 				
			</div>	
		</td>
	</tr>
</table>
<table style="margin-top: 25px;" width="100%" >
	<tr height="150">
		<td width="150" >
			<div style="background-image:url('<?php echo URL_IMG_WEBSITE ?>/service-logo-doc.png');background-repeat:no-repeat; height:150px;">		
			</div>						
		</td>
		
		<td style="text-align: left;  padding-left: 30px;" >
			<h4>Documentação</h4>
			<p>
			Oferemos serviços de consultoria em testes e construção de software.
			</p>						
			<div style="margin-top:20px;">				
				<input value="Saiba Mais" type="button" style="margin-right:10px; padding: 2px !important; width:140px; height:28px; background-color: transparent; border: 0; background-image:url('<?php echo URL_IMG_WEBSITE ?>/buttom-l-small.png');background-repeat:no-repeat; box-shadow: 0 0 0; font-size: 16px; text-shadow: none;"> 			
			</div>	
		</td>
	</tr>
</table>
<table style="margin-top: 25px;" width="100%" >
	<tr height="150">
		<td width="150"  >
			<div style="background-image:url('<?php echo URL_IMG_WEBSITE ?>/service-logo-infra.png');background-repeat:no-repeat; height:150px;">					
			</div>						
		</td>
		
		<td style="text-align: left; padding-left: 30px; " >
			<h4>Software e Infra</h4>
			<p>
			Se você não quer se preocupar com nada. Oferecemos o serviço completo construção do seu software, hospedagem, etc.
			</p>			
			<div style="margin-top:20px;">				
				<input value="Saiba Mais" type="button" style="margin-right:10px; padding: 2px !important; width:140px; height:28px; background-color: transparent; border: 0; background-image:url('<?php echo URL_IMG_WEBSITE ?>/buttom-l-small.png');background-repeat:no-repeat; box-shadow: 0 0 0; font-size: 16px; text-shadow: none;"> 
			</div>	
		</td>
	</tr>
</table>
</div>